.div-header{
  background-color: black;
  color: blue;
  height: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.header-main{
  margin-top: 0px;
  margin-bottom: 0px;
}

.h1thing{
  margin-top: 0px;
  margin-bottom: 0px;
}

.href{
  color: blue
}
/* 
.body-left{
  height: 1000px;
  background-color: blueviolet;
  align-self: left;
  width: 200px;
} */

.body-main{
  height: 480px;
  background-color: black;
  align-content: center; 
  
  background-clip: content-box;
  /* box-shadow: inset 0 0 0 10% red; */
  /* border-left: 10% red; */
}

.nav-list{
  min-height: 50px;
  background-color: black;
  color: blue;
  margin-top: 0px;
  margin-bottom: 0px;
}


.fileupload{
  min-height: 50px;
  background-color: black;
  color: red;
  text-align: center;
}

.pageIndicator{
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer{
  background-color: black;
  text-align: center;
  height: 60px;
  }

