.complete-btn{
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 15px;
    color: white;
}

.edit-btn{
    background-color: blue;
    border-color: rgb(252, 2, 2);
    border-radius: 15px;
    color: white;
}