.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
}

.create-btn{
    background-color: green;
    border-color: green;
    border-radius: 15px;
    color: white;
}

.c-btn{
    background-color: black;
    border-color: black;
    border-radius: 15px;
    color: white;
}
